<head>
  <title>Ultimate Hackathon League - Fixtures</title>
</head>

<body>
  <h1>Fixtures</h1>

  <div class="add-fixture">
    <p class="btn">
      <a class="btn" href="/fixtures/new">Add a Fixture</a>
    </p>
  </div>

  <div class="fixtures-list">
    <% @fixtures.each do |fixture| %>
      <div class="fixtures-container">
        <div class="fixtures-container-top-row">
          <a class="team-a"><%= fixture.team_a.name %></a>
          <a class="vs">vs</a>
          <a class="team-b"><%= fixture.team_b.name %></a>
        </div>
        <div class="fixtures-container-middle-row">
          <a class="winner-text">Winner:</a>
          <a class="winner-team"><%= fixture.winning_team.name %></a>
        </div>
        <div class="fixtures-container-bottom-row">
          <a class="btn-edit" href="/fixtures/<%= fixture.id %>/edit">EDIT</a>
          <form  class="btn-delete" method="post" action="/fixtures/<%= fixture.id %>/delete">
            <input type="submit" value="Delete"/>
          </form>
        </div>
      </div>
    <% end %>
  </div>

</body>
