<head>
  <title>Ultimate Hackathon League - Fixtures</title>
</head>

<body>
  <h1>Fixtures</h1>

  <div class="add-fixture">
    <p class="btn">
      <a class="btn" href="/fixtures/new">Add a Fixture</a>
    </p>
  </div>

  <div class="fixtures-container">
    <% @fixtures.each do |fixture| %>
      <p class="team-a"><%= fixture.team_a.name %></p>
      <p><i>vs</i></p>
      <p class="team-b"><%= fixture.team_b.name %></p>
      <p class="winner">Winner: <%= fixture.winning_team.name %>!</p>
      <a class="btn-edit" href="/fixtures/<%= fixture.id %>/edit">Edit</a>
      <form method="post" action="/fixtures/<%= fixture.id %>/delete" class="btn-delete">
        <input type="submit" value="Delete"/>
      </form>
      <hr />
    <% end %>
  </div>

</body>
